.recsContainer {
  display: flex;
  flex-direction: column;

  padding: 1.4rem;
  height: 100%;
}

.title {
  background: linear-gradient(to top, #0077b6 0%, #00b4d8 50%, #90e0ef 100%);
  background-size: 100% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fill 2s ease-in-out infinite alternate;
  text-align: center;
  margin-bottom: 2rem;
}

@keyframes fill {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.userList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--comment-background);
  border-radius: 16px;
  height: 4rem;
  width: 20rem;
  padding: 1rem;
  border: 1px solid var(--comment-background);
  font-weight: 600;
}

.user:hover {
  background-color: var(--hover);
  border: 1px solid var(--primary);
}

.followButton {
  margin-top: 0;
}

.username {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.username:hover {
  text-decoration: underline;
}

.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.buttons {
  display: flex;
  justify-content: space-around;

  margin-top: auto;
}

.navButton {
  border-radius: 999px;
  height: 2rem;
  width: 6rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

.navButton:hover {
  background-color: #0b7ed0;
  border: none;
  color: white;
}

.navButton:disabled {
  background-color: var(--secondary);
  cursor: not-allowed;
  opacity: 0.6;
}

.navButton:disabled:hover {
  background-color: var(--secondary);
  border: none;
  color: white;
}
