.followBtn {
  border-radius: 999px;
  height: 2rem;
  width: 6rem;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  color: white;
}

.followBtn:hover {
  cursor: pointer;
}

.follow {
  background-color: rgb(6, 148, 148, 0.527);
}

.follow:hover {
  background-color: rgb(6, 148, 148);
  border: none;
  color: white;
}

.unfollow {
  background-color: rgb(255, 0, 0, 0.527);
}

.unfollow:hover {
  background-color: red;
  border: none;
  color: white;
}
