.followBtn {
  border-radius: 999px;
  height: 2rem;
  width: 6rem;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  color: white;
}

.follow {
  background-color: forestgreen;
}

.follow:hover {
  background-color: rgb(21, 91, 21);
  border: none;
  color: white;
}

.unfollow {
  background-color: red;
}

.unfollow:hover {
  background-color: rgb(160, 8, 8);
  border: none;
  color: white;
}
