* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

:root {
  --background: white;
  --color: black;
  --primary: #3995d6;
  --secondary: gray;
  --footer: rgb(92, 91, 91);
  --input: #3b3b3b;
  --border: rgb(149, 149, 149);
  --post-background: rgb(213, 233, 251);
  --hover: rgb(231, 241, 249);
  --alt-background: rgba(3, 191, 228, 0.1);
}

/* #root {
  background-color: aliceblue;
} */

.dark {
  --background: black;
  --color: white;
  --primary: #3995d6;
  --alt-background: #111828;
}

a {
  text-decoration: none;
  color: unset;
}
