.addPostContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 30px 40px 20px;
}

.textareaWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: var(--textarea-shadow);
  background-color: var(--background);
}

.textarea {
  all: unset;
  padding: 20px;
  width: 100%;
  font-size: 1.3rem;
  box-sizing: border-box;
}

.smallTextArea {
  height: 7rem;
}

.bigTextArea {
  height: 14rem;
}

.previewWrapper {
  position: relative;
  padding: 0 20px 10px 20px;
  width: fit-content;
  margin-bottom: 2rem;
}

.postBtn {
  padding: 10px 30px;
  border-radius: 999px;
  border: none;
  margin-top: 30px;
  background-color: rgba(3, 132, 158, 0.2);
  align-self: flex-end;
  color: var(--color);
}

.postBtn:hover {
  border: none;
  background-color: rgba(3, 132, 158, 0.4);
  cursor: pointer;
}

/* Emojis */
.textareaWrapper {
  position: relative; /* ← needed for absolute child */
}

.emojiBtn {
  position: absolute;
  bottom: 0.5rem;
  left: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.emojiBtn:hover {
  border: none;
  background: none;
}

.pickerWrapper {
  position: absolute;
}

.smile {
  color: gray;
  fill: #ffd224;
}

.smile:hover {
  color: black;
}

/* Images */

.preview {
  max-height: 44rem;
  max-width: 44rem;
  border-radius: 12px;
  object-fit: cover;
}

.removeImageBtn {
  position: absolute;
  top: 4px;
  right: 24px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 12px;
}

.imageBtn {
  position: absolute;
  bottom: 0.5rem;
  left: 3rem;
  background: none;
  border: none;
  cursor: pointer;
}

.imageBtn:hover {
  border: none;
  background: none;
}

.imageIcon {
  color: gray;
  fill: rgb(188, 222, 252);
}

.imageIcon:hover {
  color: black;
}
