.coverContainer {
  position: relative;
  margin-bottom: 20px;
}

.cover {
  height: 17rem;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.avatar {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  position: absolute;
  bottom: -5rem;
  left: 2rem;
  border: 4px solid var(--alt-background);
}

.infoContainer {
  padding: 2rem;
}

.username {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.username::first-letter {
  text-transform: uppercase;
}

.date {
  color: var(--secondary);
}

.followInfo {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.follow {
  color: var(--secondary);
}

.followNumber {
  font-weight: 800;
}
