.registerForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signUpBtn {
  background-color: var(--color);
  color: var(--background);
  border: none;
}

.proposition {
  font-size: 0.9rem;
  color: var(--secondary);
}

.loginBtn {
  color: var(--color);
  font-weight: 800;
  font-size: 1.1rem;
}
