.likeSection {
  display: flex;
  align-items: center;
  gap: 5px;

  color: var(--post-buttons);
}

.likeSection:hover {
  color: red;
}

.heart {
  height: 1.3rem;
}

.likedHeart {
  height: 1.3rem;
  color: red;
  fill: red;
}
