.loginContainer {
  text-align: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 200px;
  margin-bottom: 12px;
}

input {
  border: none;
  background-color: var(--input);
  font-size: 1rem;
  color: white;
}

.loginBtn {
  border: none;
  color: var(--background);
  background-color: var(--color);
}

.guestBtn {
  margin-bottom: 12px;
  background: linear-gradient(to right, #e0724a, #c850c0, #4158d0);
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.proposition {
  font-size: 0.9rem;
  color: var(--secondary);
}

.signUpBtn {
  color: var(--color);
  font-weight: 800;
  font-size: 1.1rem;
}

button:hover {
  border: 2px solid var(--color);
  color: var(--color);
  background: var(--background);
}
