.postContainer {
  padding: 20px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-bottom: 1rem;
}

.avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.username {
  font-weight: 600;
  font-size: 1.5rem;
}

.username:hover {
  text-decoration: underline;
}

.date {
  color: var(--secondary);
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 6px;
}

.content {
  margin-left: 6px;
  font-size: 1.4rem;
}

.postImage {
  max-width: 45rem;
  max-height: 45rem;
  border-radius: 16px;
  margin: 10px 0;
  object-fit: cover;
}

@media (max-width: 600px) {
  .postContainer {
    width: auto;
    overflow: hidden;
  }

  .postImage {
    width: 100%;
    height: auto;
  }
}
