.postPreviewContainer {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 16px;
  box-shadow: rgba(3, 132, 158, 0.4) 0px 3px 8px;
  background-color: rgba(2, 162, 194, 0.1);
}

.postPreviewContainer:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 10px;
}

.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.username {
  font-weight: 600;
  font-size: 1rem;
}

.username:hover {
  text-decoration: underline;
}

.date {
  color: var(--secondary);
  font-size: 0.9rem;
}

.content {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 2rem;
}
